
.today_page {
  .pane {
    border: 1px solid darkslategray;
    width: 100%;
    display: block;
    float: left;
    min-width: 80px;
    padding: 15px;
    margin: 10px;
    .pane {
      width: 100%;
      display: block;
      float: left;
    }
  }
  .thru-tasks-pane {
    border: 1px solid darkslategray;
    display: block;
    float: left;
    min-width: 80px;
    padding: 20px;
  }
}