<template>
    <div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">My tasks ({{todoCount}})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" v-if="todos.length > 0">
                    <li
                            class="list-group-item"
                            v-for="todo in todos"
                            v-bind:class="{'completed': todo.completed}">
                        {{ todo.name }}


                        <button type="button" class="btn btn-danger btn-xs pull-right" v-on:click="deleteTodo(todo)">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </button>
                        <button type="button" class="btn btn-xs pull-right mr10" v-on:click="completeTodo(todo)"
                                v-bind:class="{'btn-success' : completedClass(todo), 'btn-warning' : !completedClass(todo)}">
                            <span class="glyphicon glyphicon-check"></span>
                            {{ completedClass(todo) ? 'Done' : 'Pending' }}
                        </button>
                    </li>
                </ul>
                <div v-else>
                    <p>You dont have any tasks !</p>
                </div>
                <todo-add></todo-add>
            </div>
        </div>
    </div>
</template>

<script>
    import todoAdd from './TodoAdd.vue'
    export default {
        created() {
            this.$store.dispatch('getTodos');
        },

        methods: {
            completeTodo(todo){
                this.$store.dispatch('completeTodo', todo);
            },
            deleteTodo(todo){
                this.$store.dispatch('deleteTodo', todo)

            },
            completedClass(todo){
                if (todo.status == 'active') {
                    return false;
                }
                else {
                    return true;
                }
            },
            addition(){
                this.$store.dispatch('increment');
            }
        },
        computed: {
            todoCount() {
                if (this.todos.length <= 5) {
                    return this.todos.length;
                }
                else {
                    return this.todos.length + ', this is too many!';
                }
            },
            todos(){
                return this.$store.state.todoStore.todos;
            }
        },

        components: {
            todoAdd
        }
    }

</script>
