<template>
    <form v-on:submit.prevent="addNewTodo()">
        <legend>Add task</legend>

        <div class="form-group">
            <input
                    v-validate
                    data-rules="required|min:3"
                    type="text"
                    class="form-control"

                    placeholder="New task"
                    v-model="newTempTodo.title">
        </div>
        <p class="text-danger" v-for="error in errors.errors">
            {{error.msg}}
        </p>


        <button v-bind:class="{ disabled: valid}" type="submit" class="btn btn-success">Add</button>
    </form>
</template>

<script>
    export default{
        data() {
            return {
                newTempTodo: {
                    id: null,
                    title: '',
                    completed: false
                },
            }
        },
        methods: {
            addNewTodo() {
                var postData = {
                    name: this.newTempTodo.title,
                    status: 'active'
                }
                if(this.errors.errors.length < 1 && this.newTempTodo.title.length > 0)
                {

                    this.$store.dispatch('addTodo', postData)
                    this.newTempTodo = {
                        id: null,
                        title: '',
                        completed: false
                    };
                }
            }
        },
        computed: {
            valid() {
                if (this.errors.errors.length < 1 && this.newTempTodo.title.length)
                {
                    return false;
                }
                return true;
            }
        }
    }
</script>
