<template>
    <div>
        <todo-items></todo-items>

    </div>


</template>
<style>
    body{
        background-color:white;
    }
</style>
<script>
    import todoItems from './../components/Todo/TodoItems.vue'

    export default {
        components:{
            todoItems
        },
    }
</script>
