<template>
  <div>
    <p>this is profile page</p>
    <passport-clients></passport-clients>
    <passport-authorized-clients></passport-authorized-clients>
    <passport-personal-access-tokens></passport-personal-access-tokens>
  </div>
</template>

<script>
  // import AuthClients from './../components/passport/AuthorizedClients.vue'
  // import Clients from '../components/passport/Clients.vue'
  // import PersonalAccessTokens from './../components/passport/PersonalAccessTokens.vue'
  export default {
  }
</script>
