
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootswatch";

@import "custom";
p.test {
  margin-top: 310px;
}

@import "styles";

li.completed {
  text-decoration: line-through;
}

.mr10 {
  margin-right: 10px;
}