

//TODAY
@import "pages/today";

//TODAY PLAYGROUND PAGE
body.today_playground {
  .page-title {
    display: none;
  }
}

.today {
  .tile-stats {
      .fa-retweet {
        display: none;
      }

    .count {
      font-size:14px;
    }
    h3 {
      color: #000;
      font-size: 12px;
    }
    border: none;
    color: black;
    background: none;
  }
  .tile-stats.done {
    opacity: 0.7;
    background-color: RGBA(1,10,1,0.2);
  }
  .today-blocks {
    display: block;
    float: left;
    width: 100%;

    .block-wrapper {
      display: block;
      float: left;
      width: 100%;
      background-color: lightblue;
      padding: 10px;
      margin-bottom: 50px;
      .block-head {
        display: block;
        float: left;
        padding: 1px 1px;
        width: 100%;
        .block-title {
          display: block;
          float: left;
          font-size: 23px;
          color: black;
          font-weight: bold;
        }
        .if-current {
          display: block;
          float: left;
        }
      }
      .block-body {
        display: block;
        float: left;
        width: 100%;
        .block-routines-wrapper {
          display: block;
          float: left;
          width: 100%;
          margin-top: 3px;
          margin-bottom: 30px;
          background-color: lightskyblue;
          padding: 10px;
          .tile-stats {
            .count {
              font-size: 14px;
            }
          }
        }
        .block-goals-wrapper {
          .tile-stats {
            border-bottom: 1px black dotted;
            padding-bottom: 25px;
          }
          display: block;
          float: left;
          width: 100%;
          background-color: springgreen;
          margin-bottom: 20px;
          padding: 10px;
        }
        .block-tasks-wrapper {
          display: block;
          float: left;
          width: 100%;
          background-color: darkslategray;
          margin-bottom: 20px;
          padding: 10px;
          .tile-stats {
            border-bottom: 1px solid black;
            margin-bottom: 25px;
          }
        }
      }
    }

  }

}


//RUNNING CHECKLISTS PAGE
body.running_checklists {
  .running-checklists-wrapper {
    display: block;
    float: left;
    width: 100%;
    //background-color: #e7f1ff;
    padding: 15px;
    border-radius: 5px;
    .checklist {
      display: block;
      float: left;
      width: 100%;
      background-color: #efebbf;
      margin-bottom: 50px;
      border-radius: 7px;
      padding: 10px;
      -webkit-box-shadow: 1px 3px 9px 0px rgba(140,140,140,1);
      -moz-box-shadow: 1px 3px 9px 0px rgba(140,140,140,1);
      box-shadow: 1px 3px 9px 0px rgba(140,140,140,1);
      //  Checklist point
      .checklist-points-wrapper {
        padding-top: 40px;
      }
      .checklist-point.complete {
        background-color: lightgreen;
        opacity: 0.6;
      }
      .checklist-point {
        background-color: #9df2ff;
        display: block;
        float: left;
        margin-bottom: 10px;
        padding: 5px;
        width: 90%;
        border: 0px darkgrey solid;
        //panes
        .first-pane {

        }
        .pane {
          display: block;
          float: left;
          min-width:30%;
        }
      }
    }
  }
}


body.stacks-review {
  .stack {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #0a6aa1;
    border-radius: 5px;
    color: white;
    //new item form
    .new-item-form {
      width: 100%;
      display: block;
      float: left;
      #description {
        width: 100%;
        color: black;
      }
    }

    //item
    .items-wrapper {
      display: block;
      float: left;
      width: 100%;
      //background-color: #8dcaef;
      padding: 5px;
      border-radius: 7px;
      .item {
        .info {
          display: block;
          float: left;
          width: 30%;
        }
        .actions {
           display: block;
           float: left;
           width: 60%;
         }
        .status-form {
          display: block;
          float: left;
          width: 100%;
          border: 0px red solid;
        }
        display: block;
        float: left;
        width: 100%;
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        color: black;
        padding: 11px;
        -webkit-box-shadow: 2px 1px 4px 0px rgba(50, 50, 50, 0.83);
        -moz-box-shadow:    2px 1px 4px 0px rgba(50, 50, 50, 0.83);
        box-shadow:         2px 1px 4px 0px rgba(50, 50, 50, 0.83);
      }
    }
  }
}